/* reset.css -- from Blueprint CSS Framework 1.0
http://blueprintcss.org
*/
html {margin:0;padding:0;border:0;}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
article, aside, dialog, figure, footer, header, hgroup, nav, section {display:block;}
body {line-height:1.5;background:white;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;float:none !important;}
table, th, td {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}
blockquote, q {quotes:"" "";}
a img {border:none;}
:focus {outline:0;}

html {
	width: 100%;
}
body {
	color: #FFF;
	font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
}
div {
	float: left;
}
div#bar {
	position: fixed;
	top: 0;
	z-index: 1;
	background-color: #101010;	
	width: 100%;
	height: 40px;
	opacity: .85;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	-moz-opacity: .85;
    -khtml-opacity: .85;
	overflow: visible;					
}
div#title {
	margin-left: 5%;
	margin-top: 9px;
	font-size: 15px;	
}
div.url{
	margin: 10px 0 0 25px;
	margin-top: 12px;
	height: 18px;
	line-height: 18px;
	font-size: 12px;
}
span#url{
	font-size: 16px;
	line-height: 90%;
	margin-top: 7px;
	padding-left: 2px;
	padding-right: 2px;
	border-bottom: 1px dashed #999;
}

div#amaz a{
	text-decoration: none;
	float: right;
	font-weight: bold;
	color: #EEE;
	margin-top: 12px;
	margin-left: 100px;
	font-size: 12px;
	
}
.twitter-share-button, #fb {
    float: left;
    margin: 10px 10px 0 0;
/*	background-color: inherit;
	border: none;*/
}
#sharing {
	float: right;
	margin-right: 0;
}

div#settings_toggle{
	cursor: pointer;	
}

div#settings{
	display: none;
	position: fixed;
	right: 0;
	top: 40px;
	background-color: #333;	
	border: 1px solid #CCC;
	border-top: none;
	border-right: none;
	padding: 10px;
	width: 400px;
	z-index: 2;
}

div.setting{
	float: none;
	font-size: 14px;
	font-weight: bold;
}

div#settings a {
	color: #EEE;
}

iframe#f{
	width: 100%;
	background-color: #EEE;
	margin-top: 40px;
	height: 5000px;
	border-top: 1px solid #999;	
}

span.quiet{
	color: #999;
}

div.buttons {
	margin-right: 5%;
	margin-top: 9px;
	float: right;
}

/* BUTTONS */

.buttons a, .buttons button{
    display:block;
    float:left;
    margin:0 5px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

/*    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;*/
    font-size: 12px;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:3px 7px 3px 5px; /* Links */
}
.buttons button{
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}
.buttons button[type]{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
.buttons button img, .buttons a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}

/* STANDARD */

button:hover, .buttons a:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttons a:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

/* POSITIVE */

button.positive, .buttons a.positive{
    color:#529214;
}
.buttons a.positive:hover, button.positive:hover{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}
.buttons a.positive:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}

/* NEGATIVE */

.buttons a.negative, button.negative{
    color:#d12f19;
}
.buttons a.negative:hover, button.negative:hover{
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
}
.buttons a.negative:active{
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}

