body, html {
	padding: 0;
	margin: 0;
	font-family: Helvetica;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

#top {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 30px;
	background-color: #EEE;
	color: #333;
	border-bottom: 1px solid #333;
    -webkit-transition: height;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition: height;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
	z-index: 9999;
}

#top.max {
	height: 100%;
	border-bottom: none;
}

#top #refresh,
#top #settings_toggle {
	position: absolute;
	top: 0;
	font-size: 24px;
	padding: 0 0.25em;
	line-height: 28px;
	font-weight: bold;
	cursor: pointer;
}

#top #settings_toggle {
	left: 0;
}

#top #refresh {
	right: 0;
}

#top.max #refresh, 
#top.max #settings_toggle {
	display: none;
}

#top #domain {
	font-size: 16px;
	line-height: 30px;
	text-align: center;
	color: #999;
	text-transform: uppercase;
}

#top.max #domain {
	position: absolute;
	top: 50%;
	font-size: 40px;
	width: 100%;
}

#top #domain.success {
	color: #000;	
}

#domain .name {
	font-weight: bold;
}

#domain .and, #domain .tld {
	font-size: 0.8em;
	color: #999;
}

iframe#f,
#settings {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	padding-top: 31px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: none;
	overflow: auto;
}

#settings {
	background-color: #EEE;
	font-size: 14px;
	display: none;
}

body.settings #settings {
	display: block;
}

body.settings iframe#f {
	display: none;
}

#settings div {
	padding-top: 1em;	
}

#settings p {
	padding: 0.25em 0.5em;
	text-align: center;
}

@media screen and (min-width: 0px) and (max-width: 399px) {
	#top #domain {
		font-size: 14px;
	}
	#top.max #domain {
		font-size: 18px;
	}
}
@media screen and (min-width: 400px) and (max-width: 699px) {
	#top.max #domain {
		font-size: 28px;
	}
}
