body, html {
	padding: 0;
	margin: 0;
	font-family: Helvetica;
}

#top {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 30px;
	background-color: #EEE;
	color: #333;
	border-bottom: 1px solid #333;
    -webkit-transition: height;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition: height;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

#top.max {
	height: 100%;
	border-bottom: none;
}

#top #refresh {
	position: absolute;
	top: 0;
	right: 0;
	display: none;
	font-size: 30px;
	padding: 0 0.25em;
	line-height: 28px;
	cursor: pointer;
}

#top #domain {
	font-size: 16px;
	line-height: 30px;
	text-align: center;
	color: #999;
	text-transform: uppercase;
}

#top.max #domain {
	position: absolute;
	top: 50%;
	font-size: 40px;
	width: 100%;
}

#top #domain.success {
	color: #000;	
}

#domain .name {
	font-weight: bold;
}

#domain .and, #domain .tld {
	font-size: 0.8em;
	color: #999;
}

iframe#f {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	padding-top: 31px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: none;
	overflow: auto;
}
